#content {
    display: flex;
    align-items: stretch;
    padding-top: 15px;
    background-color: #ffffff;

    padding-bottom: 100px;
}

/*left side content*/
#left-block {
    width: 20%;
    padding-left: auto;
}

#categories-list {
    list-style-type: none;
    height: auto;
    overflow: hidden;
}

.category-name {
    font-size: 1.4em;
    cursor: pointer;
    color: #2e2b53;
    transition: color 0.15s 0s ease-in-out;
}

.category-name:hover {
    color: #395ae1;
}

.subcategories-list {
    list-style-type: square;
    list-style-position: inside;
    padding: 3px 0;
    margin-left: 20px;
    width: auto;
    overflow: hidden;
    transition: max-height 0.2s 0s ease-in-out;
}

.subcategories-list a {
    color: #1a4481;
    text-decoration: none;  
}

.subcategories-list a:hover {
    color: #395ae1;
}

#price-list-download-button {
    font-size: 1.4em;
    color: #2e2b53;
    font-weight: bold;
    text-align: center;
    transition: all 0.15s 0s ease;
}

#price-list-download-button img{
    display: block;
    width: 50%;
    margin: auto;
}

#price-list-download-button:hover {
    color: #395ae1;
}

/*center content: */
#center-block {
    flex: 1;
    color: #2e2b53;
}

#catalog-page-block {
    width: 100%;
    position: relative;
}

.catalog-page {
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.product {
    position: relative;
    width: 250px;
    height: 350px;
    margin-bottom: 15px;
    padding: 15px 0 ;
    background-color: #ffffff;
    transition: all 0.2s 0s ease-in-out;
}

.product:hover {
    box-shadow: 0 0 7px rgba(20, 20, 20, 0.64);
}

.product-image {
    height: 75%;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}

.product-image img{
    display: block;
    height: 100%;
    margin: auto;
}

.product-name {
    text-align: center;
    font-size: 0.9em;
    color: #010739;
    margin-bottom: 5px;
}

.product-price {
    position: absolute;
    bottom: 10px;
    right: 95px;
    color: #010739;
    font-size: 1.4em;
}

#catalog-pages-indicator {
    height: 20px;
    display: block;
    text-align: center;
}

#bottom-text {
    column-count: 2;
    column-gap: 60px;
    text-align: justify;
    margin-top: 60px;
    margin-right: 5px;
    padding-top: 30px;
    border-top: 1px solid #010739;
    color: #010739;
}

@media (max-width: 775px){
    #bottom-text{
        column-count: 1;
        text-align: justify;
        margin-top: 60px;
        margin-right: 5px;
        padding-top: 30px;
        border-top: 1px solid #010739;
        color: #010739;
    }
}