#footer {
    display: block;
    width: 100%;
    background-color: #010739;
}

#footer-content {
    display: flex;
    justify-content: space-between;
    color: #f6f6f6;
}

#footer-content > div{
    padding: 20px 0;
}

#footer-content a{
    color: #f6f6f6;
}

#footer-content a:hover{
    color: #395ae1;
}

#footer-content ul{
    list-style-type: none;
}
