@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=PT+Sans:ital@1&display=swap');
/*PT Sans + Oxygen(for title)*/
#header {
    display: block;
    width: 100%;
    min-height: 180px;
    background-color: #f6f6f6;
    margin: 0px;
}

#header-content {
    color: #010739;
}

#title-block {
    float: left;
    display: flex;
    align-items: stretch;
    margin: 10px 0;
}

#logo-img {
    width: 200px;
    height: 150px;
}

#title-text {
    font-family: "Oxygen", sans-serif;
    position: relative;
}

#title {
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
}

#subtitle {
    /*margin: 20px 5px;*/
    /*position: absolute;*/
    bottom: 0;
    font-size: 1.4em;
    line-height: 1.4em;
}

#feedback-block {
    float: right;
    margin-top: 10px;
}

.contact {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5em;
    line-height: 1.2em;
    font-family: "PT Sans", sans-serif;
    text-align: right;
}

#feedback-form-button {
    margin-top: 10px;
    font-size: 1.5em;
    border-bottom: 2px dashed #42213D;
    float: right;
    transition: all 0.15s 0s ease-in-out;
    cursor: pointer;
}

#feedback-form-button:hover {
    color: #395ae1;
    border-bottom-color: #395ae1;
}
